page-login {
    .card-md{ border-radius: 8px !important; padding: 5px !important; opacity: 0.95 !important;}
    .primary-header{ color: #999 !important; font-weight: 900 !important;}
    .background{ background-image: url('../../assets/imgs/background.png'); text-align: center !important;}
}
