<ion-header style="padding-left:10px !important; padding-right:10px !important">
  <!--header starts here-->
  <ion-row>
   <ion-col class="nopadding mt-16" (click)="goToProjectSelection()">
     <round-progress [current]="75" [max]="100" [radius]="20" [stroke]="7" [color]="'#00ff00'"></round-progress>
     <img src="../../assets/imgs/icon_video.png" style="width: 26px !important;
     position: absolute;
     top: 7px !important;
     left: 7px !important;" />
   </ion-col>

   <ion-col class="nopadding mt-20">
     <star-provider [coins]="50" [stars]="20" [videos]="150"></star-provider>
   </ion-col>

   <ion-col class="nopadding">
    <user-info [messageNumber]="0" [notificationNumber]="0" (click)="goToUserMessages()" style="position: absolute;top: 0px !important;right: 0px !important;"></user-info>      
   </ion-col>

 </ion-row>
<!--header ends here-->
</ion-header>

<!--Body starts here-->
<ion-content padding class="background-content mt-66" style="height: 80% !important; width: 95% !important; margin-left: 2.5% !important; text-align: center;">

  <ion-item>
    <ion-label floating>Select user type</ion-label>
    <ion-select interface="popover">
      <ion-option value="sa">Super Admin</ion-option>
      <ion-option value="a" selected>Admin</ion-option>
      <ion-option value="gu">General User</ion-option>
      <ion-option value="sra">SRA</ion-option>
      <ion-option value="c">Collaborator</ion-option>
      <ion-option value="es">Editor-Senior</ion-option>
      <ion-option value="ej">Editor-Junior</ion-option>
      <ion-option value="ei">Editor-Intern</ion-option>
    </ion-select>
  </ion-item>



  <ion-list style="margin-top: 10% !important;">

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Projects</strong></ion-col>

        <ion-col col-1 (click)="change(0,'_CanAdd')" [ngClass]="permissionList[0]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(0,'_CanModify')" [ngClass]="permissionList[0]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(0,'_CanDelete')" [ngClass]="permissionList[0]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1  (click)="change(0,'_CanView')" [ngClass]="permissionList[0]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(0,'_HisOnlyUser')" [ngClass]="permissionList[0]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Recognition</strong></ion-col>

        <ion-col col-1 (click)="change(1,'_CanAdd')" [ngClass]="permissionList[1]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(1,'_CanModify')" [ngClass]="permissionList[1]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(1,'_CanDelete')" [ngClass]="permissionList[1]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1  (click)="change(1,'_CanView')" [ngClass]="permissionList[1]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(1,'_HisOnlyUser')" [ngClass]="permissionList[1]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Rewards</strong></ion-col>

        <ion-col col-1 (click)="change(2,'_CanAdd')" [ngClass]="permissionList[2]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(2,'_CanModify')" [ngClass]="permissionList[2]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(2,'_CanDelete')" [ngClass]="permissionList[2]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(2,'_CanView')" [ngClass]="permissionList[2]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1  (click)="change(2,'_HisOnlyUser')" [ngClass]="permissionList[2]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Talents</strong></ion-col>

        <ion-col col-1 (click)="change(3,'_CanAdd')" [ngClass]="permissionList[3]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(3,'_CanModify')" [ngClass]="permissionList[3]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(3,'_CanDelete')" [ngClass]="permissionList[3]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(3,'_CanView')" [ngClass]="permissionList[3]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(3,'_HisOnlyUser')" [ngClass]="permissionList[3]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Collaborator</strong></ion-col>

        <ion-col col-1 (click)="change(4,'_CanAdd')" [ngClass]="permissionList[4]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(4,'_CanModify')" [ngClass]="permissionList[4]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(4,'_CanDelete')"  [ngClass]="permissionList[4]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(4,'_CanView')" [ngClass]="permissionList[4]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(4,'_HisOnlyUser')" [ngClass]="permissionList[4]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Permissions</strong></ion-col>

        <ion-col col-1 (click)="change(5,'_CanAdd')"  [ngClass]="permissionList[5]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(5,'_CanModify')"  [ngClass]="permissionList[5]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(5,'_CanDelete')" [ngClass]="permissionList[5]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(5,'_CanView')" [ngClass]="permissionList[5]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(5,'_HisOnlyUser')" [ngClass]="permissionList[5]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Calendar</strong></ion-col>

        <ion-col col-1  (click)="change(6,'_CanAdd')"  [ngClass]="permissionList[6]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(6,'_CanModify')" [ngClass]="permissionList[6]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(6,'_CanDelete')" [ngClass]="permissionList[6]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1  (click)="change(6,'_CanView')" [ngClass]="permissionList[6]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(6,'_HisOnlyUser')" [ngClass]="permissionList[6]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-6><strong style="color: rgb(3, 93, 116) !important;">Configuration</strong></ion-col>

        <ion-col col-1  (click)="change(7,'_CanAdd')"  [ngClass]="permissionList[7]['_CanAdd']=='1' ? 'selected' : 'unselected'"><ion-icon name="add"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(7,'_CanModify')" [ngClass]="permissionList[7]['_CanModify']=='1' ? 'selected' : 'unselected'"><ion-icon name="create"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(7,'_CanDelete')" [ngClass]="permissionList[7]['_CanDelete']=='1' ? 'selected' : 'unselected'"><ion-icon name="trash"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(7,'_CanView')" [ngClass]="permissionList[7]['_CanView']=='1' ? 'selected' : 'unselected'"><ion-icon name="eye"></ion-icon></ion-col>
        &nbsp;
        <ion-col col-1 (click)="change(7,'_HisOnlyUser')" [ngClass]="permissionList[7]['_HisOnlyUser']=='1' ? 'selected' : 'unselected'"><ion-icon name="contact"></ion-icon></ion-col>
      </ion-row>
    </ion-item>

  </ion-list>


  <button ion-button outline (click)="updatePermission()">Update Permission</button>


</ion-content>
<!--Body ends here-->

<!--Footer starts here-->
<ion-footer style="background-color: #efefef; text-align: center;">
  <button ion-button clear (click)="navCtrl.setRoot('ProjectHomePage')" *ngIf="dataValidation.doesContainMenu('Projects')"><img src="../../assets/imgs/menu_proyectos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Recognition')"><img src="../../assets/imgs/menu_reconocimientos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Rewards')"><img src="../../assets/imgs/menu_recompensas_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Talents')"><img src="../../assets/imgs/menu_talentos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Collaborators')"><img src="../../assets/imgs/menu_colaboradores_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Permissions')"><img src="../../assets/imgs/menu_permisos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Calendar')" (click)="navCtrl.setRoot('LeaveSelectionPage')"><img src="../../assets/imgs/menu_calendario_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Configuration')" (click)="navCtrl.setRoot('GeneralSettingsPage')"><img src="../../assets/imgs/menu_configuracion_off.png" style="width: 15px !important;"/></button>
</ion-footer>

<!--Footer ends here-->