page-edit-user-type {
    .custom-popup{
        background-color: rgba(0,0,0,0.8);
    }

    .item-md{
        background-color: rgba(0,0,0,0);
        color: #fff; 
    }

    .list-underline{
        border-bottom: 1px solid #fff;
        margin-left: 16px !important;
    }
    .camera-img-wrapper{
        width: 30px !important;
        height: 30px !important;
        margin-top: 2px !important;
    }

    .label-md{
        margin: 0px !important;
    }

}
