user-info {

    .user-image-size{ width: 35px !important; height: 35px !important; }
    .noti-image-size{ width: 15px !important; height: 15px !important; }

    .camera-img-wrapper{ width: 35px !important; height: 35px !important;}
}