<div>

  <span>
    
  <button ion-button clear><img src="../../assets/imgs/profile_ballon1.png" class="noti-image-size"/>
    <span style="position: absolute;
    left: 19px !important;
    top: 9px !important;
    color: white;">{{messageNumber}}</span>
  </button>
  <p style="margin-left: 35px !important; margin-top: -27px !important;">
    <img src="../../assets/imgs/user.png" class="user-image-size" />
  </p>
  <p style="margin-top: -43px !important;margin-left: 8px !important;">
  <button ion-button clear>
    <img src="../../assets/imgs/profile_ballon2.png" class="noti-image-size"/>
    <span style="position: absolute;
    left: 18px !important;
    top: 12px !important;
  color: white;">{{notificationNumber}}</span>
  </button>
</p>
  </span>
  <!-- {{text}} -->
</div>