<div>

  <span>
    
  <button ion-button clear ><img src="../../assets/imgs/profile_ballon1.png" class="noti-image-size"/>
    <span style="position: absolute;
    left: 13px !important;
    font-size: 9px !important;
    top: 13px !important;
    color: white;" *ngIf='messageNumber != "0"'>{{messageNumber}}</span>
  </button>
  <p style="margin-left: 26px !important; margin-top: -27px !important;">
    <img src="../../assets/imgs/user.png" class="user-image-size" />
  </p>
  <p style="margin-top: -43px !important;margin-left: 8px !important;">
  <button ion-button clear >
    <img src="../../assets/imgs/profile_ballon2.png" class="noti-image-size"/>
    <span style="position: absolute;
    left: 13px !important;
    top: 15px !important;
    font-size: 8px !important;
    color: white;" *ngIf='notificationNumber != "0"'>{{notificationNumber}}</span>
  </button>
</p>
  </span>
  <!-- {{text}} -->
</div>