
<ion-content padding class="custom-popup">

  <!--User information to be present here-->
  <ion-list style="text-align: center !important;">

    <ion-col col-2 (click)="presentActionSheetToUpdateImage()">
      <img [src]="profileImage" class="camera-img-wrapper" />
    </ion-col>
    
  <ion-item class="no-underline">
    <ion-label color="primary">First Name</ion-label>
    <ion-input [(ngModel)]="userInformation['FirstName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Father's Name</ion-label>
    <ion-input [(ngModel)]="userInformation['MiddleName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Mother's Name</ion-label>
    <ion-input [(ngModel)]="userInformation['LastName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Address Line 1</ion-label>
    <ion-input [(ngModel)]="userInformation['Address1']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Address Line 2</ion-label>
    <ion-input [(ngModel)]="userInformation['Address2']">
    </ion-input>
  </ion-item>


  <ion-item class="no-underline">
    <ion-label color="primary">City</ion-label>
    <ion-input [(ngModel)]="userInformation['City']">
    </ion-input>
  </ion-item>


  <ion-item class="no-underline">
    <ion-label color="primary">State</ion-label>
    <ion-input [(ngModel)]="userInformation['State']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Zipcode</ion-label>
    <ion-input [(ngModel)]="userInformation['Pincode']">
    </ion-input>
  </ion-item>


  <p style="text-align: center;">
  <button ion-button clear class="capitalize" (click)="updateUserInformation()">Update Information &nbsp; &nbsp;<ion-icon name="create"></ion-icon></button>
  </p>  



</ion-list> 
<p style="text-align: center !important;">
<ion-label style="color: white !important; font-size: 20px !important;">User Mapping</ion-label>
</p>

<!-- <ion-item class="no-underline">
  <ion-label color="primary" floating>User Group</ion-label>
  <ion-select [(ngModel)]="groupIds" interface="popover" [selectOptions]="{ mode: 'ios' }">
    <p *ngFor='let group of groupList'>
  <ion-option [value]="group['UserGroupId']">{{group['UserGroupName']}}</ion-option>
  </p>
  </ion-select>

</ion-item> -->


<ion-item class="no-underline">
  <ion-label color="primary" floating>User Type</ion-label>
  <ion-select [(ngModel)]="userTypeId" interface="popover" multiple="true">
    <p *ngFor='let type of UserTypes'>
  <ion-option [value]="type['UserTypeId']">{{type['UserTypeName']}}</ion-option>
  </p>
  </ion-select>

</ion-item>


<p style="text-align: center;">
  <button ion-button clear class="capitalize" (click)="updateUserMapping()" [disabled]="!readyToUpdate">Update Mapping &nbsp; &nbsp;<ion-icon name="create"></ion-icon></button>
  </p>  


<ion-list>






</ion-list>


<!--Change Password-->
<p  style="text-align: center;">
  <ion-label style="color: white !important; font-size: 20px !important;">Change Password</ion-label>


<ion-item class="no-underline">
  <ion-label color="primary" floating>Old Password</ion-label>
  <ion-input [(ngModel)]="oldPassword">
  </ion-input>
</ion-item>

<ion-item class="no-underline">
  <ion-label color="primary" floating>New Password</ion-label>
  <ion-input [(ngModel)]="newPassword">
  </ion-input>
</ion-item>

<button ion-button clear (click)="changePassword()">Update Password &nbsp; &nbsp;<ion-icon name="create"></ion-icon></button>
</p>
  <!--User information to be present here-->



</ion-content>


<ion-footer>
  <button ion-button clear full (click)="closeModal();" color="light">
    <ion-icon name="close-circle" color="white"></ion-icon>
  </button>
</ion-footer>
