<ion-header style="padding-top: 10px !important;">
  <!--Header-->
  <ion-row>
    <ion-col col-10 style="text-align: right !important;">
      <p style="color: white;" class="nomargin">
        Welcome <strong (click)="showUserEditInformation()">{{userName}}</strong>
      </p>
      <p style="color: white;" class="nomargin" (click)="logOut()">
        Log Out <ion-icon name="log-out"></ion-icon>
      </p>
    </ion-col>
    <ion-col col-2 (click)="presentActionSheetToUpdateImage()">
      <img src="../../assets/imgs/user.png" style="width: 35px !important; height: 35px !important;" />
    </ion-col>
  </ion-row>
  <!--Header-->

  
</ion-header>


<ion-content padding class="custom-popup">

  <!--User information to be present here-->
  <ion-list *ngIf='showUserInformation'>

  <ion-item class="no-underline">
    <ion-label color="primary">First Name</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['FirstName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Middle Name</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['MiddleName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Last Name</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['LastName']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Address Line 1</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['Address1']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Address Line 2</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['Address2']">
    </ion-input>
  </ion-item>


  <ion-item class="no-underline">
    <ion-label color="primary">City</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['City']">
    </ion-input>
  </ion-item>


  <ion-item class="no-underline">
    <ion-label color="primary">State</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['State']">
    </ion-input>
  </ion-item>

  <ion-item class="no-underline">
    <ion-label color="primary">Zipcode</ion-label>
    <ion-input [(ngModel)]="userInformation[0]['Pincode']">
    </ion-input>
  </ion-item>


  <p style="text-align: center;">
  <button ion-button clear class="capitalize" (click)="updateUserInformation()">Update Information &nbsp; &nbsp;<ion-icon name="create"></ion-icon></button>
  </p>  



</ion-list> 


  <!--User information to be present here-->

  
<!--Message, Notification number-->
<ion-row class="list-underline" *ngIf='!showUserInformation'>
  <ion-col col-2 style="text-align: right;"> <img src="../../assets/imgs/profile_ballon1.png" style="width: 25px !important;" /> <span style="color: #fff;
    position: absolute;
    font-size: 11px !important;
    top: 7px !important;
    left: 27px !important;"></span></ion-col>
  <ion-col col-2> <img src="../../assets/imgs/profile_ballon2.png" style="width: 25px !important;" /> <span style="color: #fff;
    position: absolute;
    font-size: 11px !important;
    top: 9px !important;
    left: 10px !important;"></span></ion-col>
</ion-row>
<!--Message, Notification number-->

 <ion-list style=" text-align: center !important;" *ngIf='!showUserInformation'>
  <img src='../../assets/imgs/no_message.svg' style="width: 30% !important;margin-top: 40% !important;" />
  <ion-label style="color: darksalmon !important;">No message/notifications</ion-label>
 </ion-list>


</ion-content>


<ion-footer>
  <button ion-button clear full (click)="closeModal();" color="light">
    <ion-icon name="close-circle" color="white"></ion-icon>
  </button>
</ion-footer>
