page-user-message-notification-list {

    .custom-popup{
        background-color: rgba(0,0,0,0.8);
    }

    .item-md{
        background-color: rgba(0,0,0,0);
        color: #fff; 
    }

    .list-underline{
        border-bottom: 1px solid #fff;
        margin-left: 16px !important;
    }

}
