<ion-header style="padding-left:10px !important; padding-right:10px !important">
  <!--header starts here-->
  <ion-row>
   <ion-col class="nopadding mt-16" (click)="goToProjectSelection()">
     <round-progress [current]="75" [max]="100" [radius]="20" [stroke]="7" [color]="'#00ff00'"></round-progress>
     <img src="../../assets/imgs/icon_video.png" style="width: 26px !important;
     position: absolute;
     top: 7px !important;
     left: 7px !important;" />
   </ion-col>

   <ion-col class="nopadding mt-20">
     <star-provider [coins]="50" [stars]="20" [videos]="150"></star-provider>
   </ion-col>

   <ion-col class="nopadding">
    <user-info [messageNumber]="0" [notificationNumber]="0" (click)="goToUserMessages()" style="position: absolute;top: 0px !important;right: 0px !important;"></user-info>      
   </ion-col>

 </ion-row>
<!--header ends here-->
</ion-header>

<!--Body starts here-->
<ion-content padding class="background-content mt-66" style="height: 80% !important; width: 95% !important; margin-left: 2.5% !important; text-align: center;">



  <ion-list *ngIf="!dataValidation.isEmptyJson(projects)">
    <ion-item *ngFor="let project of projects">
    <ion-grid>

      <ion-row>
        <ion-col col-2 style="margin-top: 20px !important;">
          <img [src]="project['imagePath']" class="camera-img-wrapper" />
        </ion-col>
        <ion-col col-10>

      <ion-row>
        <ion-col style="text-align: left !important;"><ion-badge color="light">{{project['ProjectOwnerName']}}</ion-badge></ion-col>
        <ion-col style="text-align: right !important;">
        <ion-badge color="dark">{{project['PhaseName']}}</ion-badge>
      </ion-col>
      </ion-row>
      <ion-row>
        <h2 style="color: dodgerblue !important; font-weight: 600 !important;margin-top:-2px !important">{{project['ProjectName']}}</h2>
      </ion-row>
      <ion-row style="padding-top: 5px !important; padding-bottom: 5px !important;">
        <ion-col><h3 style="color: #8f1f1f !important; font-weight: 800 !important;font-size: 12px !important;">{{project['ActivityName']}}</h3></ion-col>
      </ion-row>
      <ion-row>
        <span style="color: dodgerblue !important; font-size: 12px !important;"><ion-icon name="calendar"></ion-icon> </span>
        &nbsp;
        <span style="color: dodgerblue !important; font-size: 12px !important;">Project Date : </span> &nbsp;<span style="color: #919191 !important; font-weight: 600 !important; font-size: 12px !important;">{{datePipe.transform(project['ProjectExpectedStartDate'],'d,MMM')}}</span>
        &nbsp;<span style="color: dodgerblue !important; margin-top: 2px !important; font-size: 10px !important;">to</span> &nbsp;
        <span style="color: #919191 !important; font-weight: 600 !important; font-size: 12px !important;">{{datePipe.transform(project['ProjectExpectedEndDate'],'d,MMM')}}</span>
      </ion-row>
      </ion-col>
      </ion-row>
      
   <p *ngIf="!dataValidation.isEmptyJson(project['recognitions'])">
      <ion-row *ngFor="let recognition of project['recognitions']">
        <ion-grid>
          <ion-row>
            <ion-col style="font-size:12px !important; font-weight: 500 !important ;">
              <span><ion-icon name="calendar"></ion-icon> </span>
              <span style="color: #919191 !important;">Completion Date:</span>
              <span style="color: dodgerblue !important;"> {{datePipe.transform(recognition['ProjectCloserDate'],'d,MMM')}}</span>
            </ion-col>
            <ion-col style="font-size: 12px !important;font-weight: 500 !important;">
              <span><ion-icon name="calendar"></ion-icon> </span>
              <span style="color: #919191 !important;">Finish Date:</span> 
              <span style="color: dodgerblue !important;">{{datePipe.transform(recognition['FinishedDate'],'d,MMM')}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align:center !important">
              <div style="width:35px !important; height:35px !important; ">
                <img src="../../assets/imgs/coupon.png" style="margin-top:2px !important; width: 15px !important; height: 15px !important; margin-left:20% !important;"  />
                <div style="margin-top:2px !important; margin-left: 21% !important;">
                  <h2 style="color: #919191 !important;  font-size:12px !important; font-weight:800 !important">{{dataValidation.roundOff(recognition['AchieveCouponRewardQuantity'])}}</h2>
                </div>
              </div>    
            </ion-col>
            <ion-col style="text-align:center !important">
              <div style="width:35px !important; height:35px !important; ">
                <img src="../../assets/imgs/coin.png" style="margin-top:2px !important; width: 15px !important; height: 15px !important; margin-left:20% !important;"  />
                <div style="margin-top:2px !important; margin-left: 21% !important;">
                  <h2 style="color: #919191 !important;  font-size:12px !important; font-weight:800 !important">{{dataValidation.roundOff(recognition['AchieveCoinRewardQuantity'])}}</h2>
                </div>
              </div>    
            </ion-col>
            <ion-col style="text-align:center !important">
              <div style="width:35px !important; height:35px !important; ">
                <img src="../../assets/imgs/diamond.svg" style="margin-top:2px !important; width: 15px !important; height: 15px !important; margin-left:20% !important;"  />
                <div style="margin-top:2px !important; margin-left: 21% !important;">
                  <h2 style="color: #919191 !important;  font-size:12px !important; font-weight:800 !important">{{dataValidation.roundOff(recognition['AchieveDiamondRewardQuantity'])}}</h2>
                </div>
              </div>    
            </ion-col>
            <ion-col style="text-align:center !important">
              <div style="width:35px !important; height:35px !important; ">
                <img src="../../assets/imgs/trophy.svg" style="margin-top:2px !important; width: 15px !important; height: 15px !important; margin-left:20% !important;"  />
                <div style="margin-top:2px !important; margin-left: 21% !important;">
                  <h2 style="color: #919191 !important;  font-size:12px !important; font-weight:800 !important">{{dataValidation.roundOff(recognition['AchieveTrophyRewardQuantity'])}}</h2>
                </div>
              </div>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <progress-bar [progress]="recognition['progress']" [color-degraded]="{'0': '#fd4c4c',  '15': '#d87b24', '25': '#d89924', '50' : '#d8bd24', '75' : '#d3d022', '100' : '69d322'}">
            </progress-bar>
          </ion-col>
          </ion-row>

        </ion-grid>
      </ion-row>
    </p>

    </ion-grid>


    </ion-item>

  </ion-list>
  
 


</ion-content>
<!--Body ends here-->

<!--Footer starts here-->
<ion-footer style="background-color: #efefef; text-align: center;">
  <button ion-button clear (click)="navCtrl.setRoot('ProjectHomePage')" *ngIf="dataValidation.doesContainMenu('Projects')"><img src="../../assets/imgs/menu_proyectos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('RecognitionsPage')" *ngIf="dataValidation.doesContainMenu('Recognition')"><img src="../../assets/imgs/menu_reconocimientos_on.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('RewardsPage')" *ngIf="dataValidation.doesContainMenu('Rewards')"><img src="../../assets/imgs/menu_recompensas_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Talents')" [disabled]=true><img src="../../assets/imgs/menu_talentos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('CollaboratorPage')" *ngIf="dataValidation.doesContainMenu('Collaborators')" ><img src="../../assets/imgs/menu_colaboradores_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('PermissionsPage')" *ngIf="dataValidation.doesContainMenu('Permissions')"><img src="../../assets/imgs/menu_permisos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Calendar')" (click)="navCtrl.setRoot('EventListPage')"><img src="../../assets/imgs/menu_calendario_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Configuration')" (click)="navCtrl.setRoot('GeneralSettingsPage')"><img src="../../assets/imgs/menu_configuracion_off.png" style="width: 15px !important;"/></button>
</ion-footer>

<!--Footer ends here-->