<ion-header style="padding-left:10px !important; padding-right:10px !important">
  <!--header starts here-->
  <ion-row>
    <!-- (click)="goToProjectSelection()" -->
    <ion-col class="nopadding mt-16" >
      <round-progress [current]="75" [max]="100" [radius]="20" [stroke]="7" [color]="'#00ff00'"></round-progress>
      <img src="../../assets/imgs/icon_video.png" style="width: 26px !important;
     position: absolute;
     top: 7px !important;
     left: 7px !important;" />
    </ion-col>

    <ion-col class="nopadding mt-20">
      <star-provider [coins]="50" [stars]="20" [videos]="150"></star-provider>
    </ion-col>

    <ion-col class="nopadding">
      <user-info [messageNumber]="0" [notificationNumber]="0" (click)="goToUserMessages()"
        style="position: absolute;top: 0px !important;right: 0px !important;"></user-info>
    </ion-col>

  </ion-row>
  <!--header ends here-->


  <ion-segment [(ngModel)]="segment" mode="ios" style="margin-top: 13px !important;background: white !important; padding-left: 14px !important;
padding-right: 14px !important;
padding-top: 10px !important;">

    <ion-segment-button value="events">
      Events
    </ion-segment-button>
    <ion-segment-button value="leaves">
      Leaves
    </ion-segment-button>

  </ion-segment>




</ion-header>

<!--Body starts here-->
<ion-content padding class="background-content mt-66"
  style="height: 80% !important; width: 95% !important; margin-left: 2.5% !important; text-align: center;">



  <div [(ngSwitch)]="segment" style="margin-top: 33px !important;">
    <p *ngSwitchCase="'events'">
      <ion-item *ngFor="let event of events">
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <p class="green-circle" *ngIf="event['ColourName']=='Green'"></p>
              <p class="red-circle" *ngIf="event['ColourName']=='Red'"></p>
              <p class="black-circle" *ngIf="event['ColourName']=='Black'"></p>
              <p class="blue-circle" *ngIf="event['ColourName']=='Blue'"></p>
            </ion-col>
            <ion-col col-10>
              <ion-grid>
                <ion-row>
                  <p style="color: #919191 !important; font-size: 12px !important;">{{event['EventSubject']}}
                    <span *ngIf="event['EventIsFullDay']==true">
                      <ion-badge>Full day</ion-badge>
                    </span>
                    <span *ngIf="event['EventIsFullDay']==false">
                      <ion-badge>Half day</ion-badge>
                    </span>
                  </p>
                </ion-row>
                <ion-row>
                  <p style="color: dodgerblue !important; font-size: 15px !important;">{{event['EventDescription']}}</p>
                </ion-row>
                <ion-row>
                  <span style="font-size: 12px !important; font-weight: 600 !important;">
                    {{datePipe.transform(event['EventStartDate'],'d, MMM')}} </span>
                  &nbsp; - &nbsp;
                  <span style="font-size: 12px !important; font-weight: 600 !important;">
                    {{datePipe.transform(event['EventEndDate'],'d, MMM')}} </span>
                </ion-row>
                <ion-row style="padding-top: 10px !important;">
                  <span *ngFor="let image of event['UserImages']">
                    <img [src]="image" class="camera-img-wrapper" />
                  </span>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </p>




    <p *ngSwitchCase="'leaves'">

      <ion-list *ngFor="let leave of leaves">
        <ion-card style="width: 100% !important; max-width: none !important; min-width: none !important;">
          <ion-row>
            <ion-col col-5 class="pt-15 ta-left">
              <span>
                <ion-icon name="information-circle" style="color: rgb(12, 80, 107) !important;"
                  *ngIf="dataValidation.isEmptyJson(leave['TakenLeave']) || dataValidation.isEmptyJson(leave['RemainingLeave'])"
                  (click)="getInformation(leave['LeaveTypeId'],leave)"></ion-icon>
                &nbsp;
                <span style="color: rgb(12, 80, 107) !important;">{{leave['LeaveTypeName']}} Leave</span>
              </span>
            </ion-col>
            <ion-col col-2 class="pt-15"
              *ngIf="!dataValidation.isEmptyJson(leave['TakenLeave']) || leave['TakenLeave'] == '0'">
              <ion-badge color="danger">Taken : {{leave['TakenLeave']}}</ion-badge>
            </ion-col>
            <ion-col col-2 class="pt-15"
              *ngIf="!dataValidation.isEmptyJson(leave['RemaningLeave']) || leave['RemaningLeave'] == '0'">
              <ion-badge color="secondary">Left : {{leave['RemaningLeave']}}</ion-badge>
            </ion-col>
            <ion-col col-3>
              <button ion-button clear (click)="openCalendar(leave)">Apply</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>

      <!-- <ion-title class="color-header">Applied leaves</ion-title> -->
      <ion-list *ngFor="let apLeave of appliedLeaves">
        <p class="" style="padding-bottom: 5px !important; border-bottom: 1px solid #ddd !important">
          <ion-row>
            <ion-col col-2 *ngIf="!dataValidation.isEmptyJson(apLeave['UserImagePath'])">
              <img [src]="apLeave['UserImagePath']" class="camera-img-wrapper" />
            </ion-col>
            <ion-col col-8>
              <ion-row>
                <ion-col class="subtitle-1 ta-left" col-4>
                  <strong>{{apLeave['LeaveTypeName']}} Leave</strong>
                </ion-col>
                <ion-col class="subtitle-2" col-3>
                  <strong>{{datePipe.transform(apLeave['LeaveFromDate'],'d-MMM')}}</strong></ion-col>
                <ion-col class="subtitle-1" col-2> to </ion-col>
                <ion-col class="subtitle-2" col-3>
                  <strong>{{datePipe.transform(apLeave['LeaveToDate'],'d-MMM')}}</strong></ion-col>
              </ion-row>
              <ion-row class="subtitle-1" style="padding-left: 2% !important;margin-top:4px !important">
                <ion-icon name="checkmark-circle" mode="ios">&nbsp;</ion-icon>Approved by &nbsp;
                <strong>{{apLeave['ApprovedOrRejectedByName']}}</strong>
              </ion-row>
              <ion-row class="subtitle-1" style="padding-left: 2% !important;margin-top:4px !important"
                *ngIf="!dataValidation.isEmptyJson(apLeave['ApprovedOrRejectedLeaveComments'])">
                <strong>{{apLeave['ApprovedOrRejectedByName']}} : </strong> &nbsp;
                {{apLeave['ApprovedOrRejectedLeaveComments']}}
              </ion-row>
            </ion-col>
            <ion-col col-2 *ngIf="!dataValidation.isEmptyJson(apLeave['ApprovedOrRejectedByImagePath'])">
              <img [src]="apLeave['ApprovedOrRejectedByImagePath']" class="camera-img-wrapper" />
            </ion-col>
          </ion-row>
        </p>
      </ion-list>



      <ion-list *ngFor="let apLeave of rejectedLeaves">
        <p class="" style="padding-bottom: 5px !important; border-bottom: 1px solid #ddd !important">
          <ion-row>
            <ion-col col-2 *ngIf="!dataValidation.isEmptyJson(apLeave['UserImagePath'])">
              <img [src]="apLeave['UserImagePath']" class="camera-img-wrapper" />
            </ion-col>
            <ion-col col-8>
              <ion-row>
                <ion-col class="subtitle-1 ta-left" col-4>
                  <strong>{{apLeave['LeaveTypeName']}} Leave</strong>
                </ion-col>
                <ion-col class="subtitle-2" col-3>
                  <strong>{{datePipe.transform(apLeave['LeaveFromDate'],'d-MMM')}}</strong></ion-col>
                <ion-col class="subtitle-1" col-2> to </ion-col>
                <ion-col class="subtitle-2" col-3>
                  <strong>{{datePipe.transform(apLeave['LeaveToDate'],'d-MMM')}}</strong></ion-col>
              </ion-row>
              <ion-row class="subtitle-1" style="padding-left: 2% !important;margin-top:4px !important">
                <ion-icon name="close-circle" mode="ios">&nbsp;</ion-icon>Rejected by &nbsp;
                <strong>{{apLeave['ApprovedOrRejectedByName']}}</strong>
              </ion-row>
            </ion-col>
            <ion-col col-2 *ngIf="!dataValidation.isEmptyJson(apLeave['ApprovedOrRejectedByImagePath'])">
              <img [src]="apLeave['ApprovedOrRejectedByImagePath']" class="camera-img-wrapper" />
            </ion-col>
          </ion-row>
        </p>
      </ion-list>









    </p>
  </div>


  <ion-fab bottom right *ngIf="segment=='leaves'">
    <button ion-fab (click)="navCtrl.setRoot('LeaveApprovalPage')">
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
<!--Body ends here-->

<!--Footer starts here-->
<ion-footer style="background-color: #efefef; text-align: center;">
  <button ion-button clear (click)="navCtrl.setRoot('ProjectHomePage')" *ngIf="dataValidation.doesContainMenu('Projects')"><img src="../../assets/imgs/menu_proyectos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('RecognitionsPage')" *ngIf="dataValidation.doesContainMenu('Recognition')"><img src="../../assets/imgs/menu_reconocimientos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('RewardsPage')" *ngIf="dataValidation.doesContainMenu('Rewards')"><img src="../../assets/imgs/menu_recompensas_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Talents')" [disabled]=true><img src="../../assets/imgs/menu_talentos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Collaborators')" [disabled]=true><img src="../../assets/imgs/menu_colaboradores_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear (click)="navCtrl.setRoot('PermissionsPage')" *ngIf="dataValidation.doesContainMenu('Permissions')"><img src="../../assets/imgs/menu_permisos_off.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Calendar')" (click)="navCtrl.setRoot('EventListPage')"><img src="../../assets/imgs/menu_calendario_on.png" style="width: 15px !important;"/></button>
  <button ion-button clear *ngIf="dataValidation.doesContainMenu('Configuration')" (click)="navCtrl.setRoot('GeneralSettingsPage')"><img src="../../assets/imgs/menu_configuracion_off.png" style="width: 15px !important;"/></button>
</ion-footer>

<!--Footer ends here-->