page-project-information {

    .custom-popup{
        background-color: rgba(0,0,0,0.9);
    }

    .item-md{
        background-color: rgba(0,0,0,0);
        color: #fff; 
    }

    .list-md .item-block .item-inner{
        border: none !important;
    }


}
