<ion-header style="padding-left:10px !important; padding-right:10px !important">
  <!--header starts here-->
  <ion-row>
    <ion-col class="nopadding mt-16" (click)="goToProjectSelection()">
      <round-progress [current]="75" [max]="100" [radius]="20" [stroke]="7" [color]="'#00ff00'"></round-progress>
      <img src="../../assets/imgs/icon_video.png" style="width: 26px !important;
     position: absolute;
     top: 7px !important;
     left: 7px !important;" />
    </ion-col>

    <ion-col class="nopadding mt-20">
      <star-provider [coins]="50" [stars]="20" [videos]="150"></star-provider>
    </ion-col>

    <ion-col class="nopadding">
      <user-info [messageNumber]="10" [notificationNumber]="15" (click)="goToUserMessages()"
        style="position: absolute;top: 0px !important;right: 0px !important;"></user-info>
    </ion-col>

  </ion-row>


  <ion-segment [(ngModel)]="segment" mode="ios" style="margin-top: 13px !important;background: white !important;">

    <ion-segment-button value="businessunits">
      Business Unit
    </ion-segment-button>
    <ion-segment-button value="brands">
      Brand
    </ion-segment-button>
    <ion-segment-button value="users">
      User
    </ion-segment-button>
    <ion-segment-button value="usertypes">
      User Type
    </ion-segment-button>
    <ion-segment-button value="activities">
      Activity
    </ion-segment-button>
    <ion-segment-button value="materials">
      Material
    </ion-segment-button>

  </ion-segment>


  <!--header ends here-->
</ion-header>

<!--Body starts here-->
<ion-content padding class="background-content mt-66"
  style="height: 80% !important; width: 95% !important; margin-left: 2.5% !important; text-align: center;">


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Fab Buttons-->
  <ion-fab right bottom *ngIf="segment == 'businessunits'">
    <button ion-fab (click)="addBusinessUnit()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>



  <ion-fab right bottom *ngIf="segment == 'brands'">
    <button ion-fab (click)="addBrands()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab right bottom *ngIf="segment == 'users'">
    <button ion-fab (click)="addUser()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab right bottom *ngIf="segment == 'usertypes'">
    <button ion-fab (click)="addUserType()">
      <ion-icon name="add" mode="ios"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab right bottom *ngIf="segment == 'activities'">
    <button ion-fab (click)="addActivity()">
      <ion-icon name="add" mode="ios"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom *ngIf="segment == 'materials'">
    <button ion-fab [disabled]=true>
      <ion-icon name="add" mode="ios"></ion-icon>
    </button>
  </ion-fab>

  <!--Fab Buttons-->

  
  <p style=" margin-top: 4% !important;"></p>
  <div [ngSwitch]="segment">
    <p *ngSwitchCase="'businessunits'">
      <ion-list *ngFor='let businessunit of businessunitList' class="nomargin nopadding">
        <ion-item class="nopadding">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="underline">
                <p><strong style="color: dodgerblue !important;">{{businessunit['BusinessUnitName']}}</strong> <span
                    style="font-size: 12px !important;" (click)="editBusinessUnit(businessunit)">
                    <ion-icon name="create"></ion-icon>
                  </span>
                  <!-- <span style="float:right !important;color:#700000 !important;" (click)="deleteUser(user)"><ion-icon name="trash" mode='ios'></ion-icon></span> -->
                </p>
                <p class="subtitle-1">
                  <ion-icon name="pin"></ion-icon>
                  {{businessunit['Address1'] +' '+businessunit['Address2']}}
                </p>
                <p class="subtitle-2">
                  <ion-icon name="phone-portrait"></ion-icon> <a href="tel:{{businessunit['Phone']}}"
                    style="text-decoration: none !important;">{{businessunit['Phone']}}</a>
                </p>
                <p *ngIf="!dataValidation.isEmptyJson(businessunit['OwnerName'])" style="font-size: 12px !important;">
                  <ion-icon name="person"></ion-icon>&nbsp;{{businessunit['OwnerName']}}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
 
    </p>

    <p *ngSwitchCase="'brands'">
      <ion-list *ngFor='let brand of brandList' class="nomargin nopadding">
        <ion-item class="nopadding">
          <ion-grid>
            <ion-row>
              <ion-col col-2 style="margin-top: 2% !important;"> 
                <img [src]="brand['BrandImagePath']" class="camera-img-wrapper" />
              </ion-col>
              <ion-col col-10 class="underline">
                <p><strong style="color: dodgerblue !important;">{{brand['BrandName']}}</strong> <span
                    style="font-size: 12px !important;" (click)="editBrand(brand)">
                    <ion-icon name="create"></ion-icon>
                  </span>
                  <!-- <span style="float:right !important;color:#700000 !important;" (click)="deleteUser(user)"><ion-icon name="trash" mode='ios'></ion-icon></span> -->
                </p>
                <p class="subtitle-1">
                  <ion-icon name="list-box"></ion-icon>
                  {{brand['BrandDescription']}}
                </p>
                <p *ngIf="!dataValidation.isEmptyJson(brand['OwnerName'])" style="font-size: 12px !important;">
                  <ion-icon name="person"></ion-icon>&nbsp;{{brand['OwnerName']}}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </p>


    <!-- <p *ngSwitchCase="'users'"> -->
      <div  *ngSwitchCase="'users'">
      <p *ngIf='userList == null'>
        <ion-spinner name='ios' style="margin-top: 40% !important;"></ion-spinner>
        <ion-label style="color: #999 !important;">{{loadingStatus}}</ion-label>
      </p>
      <!--Break Gap-->
      <p class="mt-10"></p>
      <!--Break Gap-->
      <ion-list *ngFor='let user of userList' class="nomargin nopadding">
        <ion-item class="nopadding">
          <ion-grid>
            <ion-row>
              <ion-col col-2 style="margin-top: 2% !important;"> 
                <img [src]="user['UserImagePath']" class="camera-img-wrapper" />
              </ion-col>
              <ion-col col-10 class="underline">
                <p><strong style="color: dodgerblue !important;">{{user['FirstName'] + ' '+user['LastName']}}</strong>
                  <span style="font-size: 12px !important;" (click)="editUser(user)">
                    <ion-icon name="create"></ion-icon>
                  </span>
                  <span style="float:right !important;color:#700000 !important;" (click)="deleteUser(user)">
                    <ion-icon name="trash" mode='ios'></ion-icon>
                  </span>
                </p>
                <p class="subtitle-1">
                  <ion-icon name="pin"></ion-icon> {{user['Address1'] +' '+user['Address2']}}
                </p>
                <p class="subtitle-2">
                  <ion-icon name="phone-portrait"></ion-icon> <a href="tel:{{user['Mobile']}}"
                    style="text-decoration: none !important;">{{user['Mobile']}}</a>
                  <span> &nbsp;&nbsp;
                    <ion-icon name="mail"></ion-icon> <a href="mailto:{{user['Email']}}"
                      style="text-decoration: none !important;">{{user['Email']}}</a></span>
                </p>
                <p>
                  <ion-badge color="dark">{{user['GroupName']}}</ion-badge>
                  <ion-badge color="success">{{user['UserTypeName']}}</ion-badge>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </div>

    <p *ngSwitchCase="'usertypes'">
      
      <ion-item *ngFor="let userType of userTypes">
        <ion-grid>
          <ion-row>
            <ion-col col-2 >
              <p style="font-size: 10px !important; padding-top:13px !important;border: dodgerblue 2px solid; width:40px !important; height:40px !important; border-radius: 50% !important; background-color: #ddd !important; color: #999 !important;font-weight: 600 !important; text-align: center !important;">{{userType['UserTypeAlias']}}</p>
            </ion-col>
            <ion-col col-9 style="margin-top:10px !important;color: dodgerblue !important; font-size: 20px !important; font-weight: 600 !important;">
              {{userType['UserTypeName']}}
            </ion-col>
            <ion-col col-1 style="margin-top:10px !important; color: #919191 !important;" (click)="editUserType(userType)">
              <ion-icon name="create"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </p>


    <p *ngSwitchCase="'activities'" style="margin-top: 28px !important;">
      <ion-row>
        <ion-col *ngFor="let activity of activities">
          <ion-card>
            <img [src]="activity['ProjectTypeImage']" style="height: 30px !important;
            width: 30px !important;
            position: absolute;
            top: -5px !important;
            left: -11px !important;
            border: 2px dodgerblue solid;
            border-radius: 50%;"/>
            <span>
              <ion-badge  *ngIf="activity['PhaseName'] == 'Production'" style="font-size : 8px !important;">{{activity['PhaseName']}}</ion-badge>
              <ion-badge color="dark" *ngIf="activity['PhaseName'] == 'Pre Production'" style="font-size : 8px !important;">{{activity['PhaseName']}}</ion-badge>
              <ion-badge color="success" *ngIf="activity['PhaseName'] == 'Post Production'" style="font-size : 8px !important;">{{activity['PhaseName']}}</ion-badge>
              <ion-badge color="danger" *ngIf="activity['PhaseName'] == 'Analysis'" style="font-size : 8px !important;">{{activity['PhaseName']}}</ion-badge>

              <ion-badge color="light" style="font-size : 8px !important;">{{activity['ProjectTypeName']}}</ion-badge></span>

            <ion-card-header>{{activity['ActivityName']}} <button ion-button clear style="float: right !important; padding-top: 0px !important; padding-right:0px !important; margin-top: 0px !important;margin-right:0px !important;padding-bottom: 0px !important;margin-bottom: 0px !important;
                height: 20px !important;" (click)="editActivity(activity)">
                <ion-icon name="create" style="font-size: 12px !important;"></ion-icon>
              </button></ion-card-header>
            <ion-card-content>
              <p style="text-align: justify !important;font-size: 12px !important; color: #888 !important;padding: 5px !important;height:43px !important">
                {{activity['ActivityDescription']}}
              </p>
              <ion-grid>
                <ion-row>
                  <ion-col col-3 style="text-align: center !important;">
                    <p><img src="../../assets/imgs/trophy.svg" style="width: 15px !important;" /></p>
                    <p>{{activity['CoinRewardQuantity']}}</p>
                  </ion-col>
                  <ion-col col-3 style="text-align: center !important;">
                    <p><img src="../../assets/imgs/diamond.svg" style="width: 15px !important;" /></p>
                    <p>{{activity['DiamondRewardQuantity']}}</p>
                  </ion-col>
                  <ion-col col-3 style="text-align: center !important;">
                    <p><img src="../../assets/imgs/coin.png" style="width: 15px !important;" /></p>
                    <p>{{activity['CouponRewardQuantity']}}</p>
                  </ion-col>
                  <ion-col col-3 style="text-align: center !important;">
                    <p><img src="../../assets/imgs/coupon.png" style="width: 15px !important;" /></p>
                    <p>{{activity['TrophyRewardQuantity']}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    
    </p>



    <p *ngSwitchCase="'materials'">
      
    </p>
  </div>

</ion-content>
<!--Body ends here-->

<!--Footer starts here-->
<ion-footer style="background-color: #efefef; text-align: center;">
  <button ion-button clear><img src="../../assets/imgs/menu_proyectos_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_reconocimientos_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_recompensas_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_talentos_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_colaboradores_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_permisos_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear (click)="navCtrl.setRoot('LeaveSelectionPage')"> <img src="../../assets/imgs/menu_calendario_off.png"
      style="width: 15px !important;" /></button>
  <button ion-button clear><img src="../../assets/imgs/menu_configuracion_on.png"
      style="width: 15px !important;" /></button>
</ion-footer>
<!--Footer ends here-->