page-general-settings {

    .background-content{
        background-color: #fff;
        // border-radius: 10px !important;
        // border:1px solid #ddd;
        border: 2px solid dodgerblue;
    }
   
    ion-app, ion-nav, ion-tab, ion-tabs, .app-root, .ion-page 
    { background-image: radial-gradient(#fff ,#ccc); text-align: center !important;}
   
    .header-md::after{
        background-image: none !important;
    }
   
    .button-md{
        padding: 11px !important;
    }
    .scroll-content {
       margin:0px !important;
    }
    .card-content-md{
        padding: 0px !important;
    }
    .segment-ios .segment-button{
        font-size:10px !important;
    }
    .item-md{
        padding: 0px !important;
    }
    ion-card img{
        display: inline !important;
    }

    .card-header-md{
    font-size: 16px !important;
    font-weight: 800;
    color: #888;
    padding: 8px;
    text-align: left !important;
    }


    .card-md p{
        margin: 0 0 2px !important;
        font-size: 11px !important;
        font-weight: 500 !important;
        color: dodgerblue !important;
    }


   
    .card-md{
        min-width: 143px !important;
        max-width: 145px !important;
        min-height: 140px !important;
        max-height: 145px !important;
        margin:0px !important;
        border:2px solid dodgerblue !important;
        border-radius:5px !important;
        background: #ddd !important;
    }
   
    .button-info{
       padding-top: 0px !important;
       padding-bottom: 0px !important;
       height: 15px !important;
       font-size: 10px !important;
       margin-top: 1px !important;
       text-transform: capitalize !important;
    }
   
    .phase-title{
        font-size: 10px !important;
        text-align: center !important;
    }
   
   //  .badge-md {
   //     background-color: #448e00 !important;
   // }
   ion-badge{
       padding: 3px !important;
       font-size:9px !important;
   }
   
   
   .circle-image{
       width: 45px !important;
       height: 45px !important;
       border: 1px solid #000;
       border-radius:50px !important;
       padding: 10px !important;
       background:#fff;
   }
   
   .circle-image-buttom{
       width: 35px !important;
       height: 35px !important;
       border: 1px solid rgb(66, 250, 10);
       border-radius:100px !important;
       padding: 5px !important;
       background:#fff;
   }
   
   .circle-image-buttom-incomplete{
       width: 35px !important;
       height: 35px !important;
       border: 1px solid #333;
       border-radius:100px !important;
       padding: 5px !important;
       background:#fff;
   }
   
   
   
   .subtitle-1{
       font-size: 11px !important;
       color: #555 !important;
       font-weight: 300 !important;
   }
   
   .subtitle-2{
       font-size: 9px !important;
       color: rgb(31, 126, 251) !important;
       font-weight: 400 !important;
   }
   
   .underline{
       border-bottom: 1px solid #ddd;
   }
   
   .label-md{
       margin:0px !important;
   }
   
   .grid{
       padding: 0px !important;
   }
   
   .alert-md .alert-message, .alert-md .alert-input-group{
       padding:2px !important;
   }

   .segment-ios .segment-md .segment-button{
       font-size: 9px !important;
   }
   .segment-ios .segment-button{
    font-size: 9px !important;
   }

   .camera-img-wrapper{
    width: 40px !important;
    height: 40px !important;
}
}