<div style="width: 200px !important;">
  <span>
  <round-progress [current]="50" [max]="100" [radius]="30" [stroke]="8"></round-progress>
  <img src="../../assets/imgs/icon_video.png" style="    width: 30px !important;
  height: 30px !important;
  top: 125px !important;
  position: absolute;
  left: 31px !important;"
  />
  <span style="font-size: 8px !important;
  position: absolute;
  top: 117px !important;
  left: 66px !important;
  background: white;
  border: 1px solid #ddd;
  padding: 9px !important;
  padding-left: 15px !important;
  z-index: -1 !important;
  border-radius: 14px !important;">
    <p class="nomargin">Allejandro wants something</p>
    <p class="nomargin">2019/12/21 - 2019/12/22</p>
    <p class="nomargin">Owner : Allejandro</p>
  </span>
</span>
</div>